/.MegalAntlrTokenToAttributeIdMapper.java._trace
/.MegalHighlightingConfiguration.java._trace
/.MegalSemanticHighlightingCalculator.java._trace
/MegalAntlrTokenToAttributeIdMapper.java
/MegalHighlightingConfiguration.java
/MegalSemanticHighlightingCalculator.java
